<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>14110013</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>YOUR_EMAIL</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>YOUR_PASSWORD</param-value>
  </context-param>
  <servlet>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/sendmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertRoleServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRoleServlet</servlet-name>
    <url-pattern>/insertrole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertAccountServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAccountServlet</servlet-name>
    <url-pattern>/createaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertCourseServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCourseServlet</servlet-name>
    <url-pattern>/createcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertClassServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertClassServlet</servlet-name>
    <url-pattern>/createclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBlogServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBlogServlet</servlet-name>
    <url-pattern>/createblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertPostServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPostServlet</servlet-name>
    <url-pattern>/createpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditRoleServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleServlet</servlet-name>
    <url-pattern>/editrole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAccountServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountServlet</servlet-name>
    <url-pattern>/editaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBlogServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBlogServlet</servlet-name>
    <url-pattern>/editblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/editpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeleteRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoleServlet</servlet-name>
    <url-pattern>/deleterole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginBackendServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.LoginBackendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBackendServlet</servlet-name>
    <url-pattern>/loginbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/deletepost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <url-pattern>/deleteblog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCourseServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourseServlet</servlet-name>
    <url-pattern>/editcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/deletecourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/deleteclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterClassServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.RegisterClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterClassServlet</servlet-name>
    <url-pattern>/registerclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditClassServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClassServlet</servlet-name>
    <url-pattern>/editclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertPosterServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.InsertPosterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPosterServlet</servlet-name>
    <url-pattern>/createposter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPosterServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.EditPosterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPosterServlet</servlet-name>
    <url-pattern>/editposter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePosterServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.DeletePosterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePosterServlet</servlet-name>
    <url-pattern>/deleteposter</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LogoutBackendServlet</servlet-name>
    <servlet-class>chuongnh.com.servlet.LogoutBackendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutBackendServlet</servlet-name>
    <url-pattern>/logoutbackend</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>